extends layout


block content
   h1 About Us
   p
    | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto delectus culpa aliquam temporibus. Accusantium aliquid quibusdam quidem cumque laborum, doloribus accusamus iusto vero odit exercitationem.
    p
    | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quisquam voluptate obcaecati iusto, iure similique soluta sit consectetur necessitatibus ratione corporis nam assumenda deserunt, adipisci minus!