extends layout

block content
  .jumbotron
    .container
      .row
        .col-md-7
          h1 Computer Not Working?
          p
          | Is your computer running slow? or many not at all? Call us for a quick and easy quote.
          p.my-3
            a.btn.btn-primary.btn-lg(href='#') Read More
        .col-md-5 
          img(src='images/mouse.png')

  .card-deck.mb-4.text-center
    .card.mb-3.shadow-small 
      .card-header
        h3.my-0.font-weight-normal Hardware Problems?
      .card-body
        p
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis elementum nulla a enim sollicitudin ultricies.
    .card.mb-3.shadow-small 
      .card-header
        h3.my-0.font-weight-normal Software Problem?
      .card-body
        p
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis elementum nulla a enim sollicitudin ultricies.
    .card.mb-3.shadow-small
      .card-header
        h3.my-0.font-weight-normal PC Tune Up
      .card-body
        p
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis elementum nulla a enim sollicitudin ultricies.

